<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>

<div id='pagetitle'>Calendar</div>

<div id='cal'>
<%= raw(event_calendar) %>
</div>