<p id="notice"><%= notice %></p>

<p>
  <b>Movementtype:</b>
  <%= @movement_type.movementtype %>
</p>


<%= link_to 'Edit', edit_movement_type_path(@movement_type) %> |
<%= link_to 'Back', movement_types_path %>
