<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @equipment_type.equipmenttype %>
</p>


<%= link_to 'Edit', edit_equipment_type_path(@equipment_type) %> |
<%= link_to 'Back', equipment_types_path %>
